@font-face {
  font-family: "04b_30";
  src: url(shared/assets/04B_30__.TTF) format("truetype");
}

/* NOTE: This file is only for base styles, variables and utils. See `/shared/ui/index.ts` for styled-components */

:root {
  --brand-color: hsl(16, 88%, 54%);
  --dark-color: hsl(0, 0%, 13%);
  --light-color: hsl(0, 0%, 85%);

  --text-font: 'Courier New', Courier, monospace;
  --brand-font: "04b_30";

  --rounded: 4px;
}

body {
  margin: 0;
  padding: 0;

  font-family: var(--text-font);
  font-size: 16px;
}

.center {
  text-align: center;
}

.text-light {
  color: var(--light-color);
}